In [34]:
import pandas as pd
df_sub1_esense = pd.read_csv('..\sensor_data\eSense_sbj1.csv', names=['time','Device','1','2','3','4','5','6','Label'], index_col=0)
df_sub1_esense.index = pd.to_datetime(df_sub1_esense.index, unit='ms') + pd.Timedelta('02:00:00')
df_sub1_esense = df_sub1_esense.resample('10L', origin='start').first().interpolate()
#df_sub1_esense.index = df_sub1_esense.index.time
df_sub1_esense.sort_index()

,Device,1,2,3,4,5,6,Label
time,,,,,,,,
2021-04-14 18:11:47.373,eSense-0012,-0.461182,0.815430,-0.323242,-3.932927,1.737805,4.451220,layup
2021-04-14 18:11:47.383,None,-0.461792,0.816138,-0.322681,-3.798780,1.475610,4.210366,None
2021-04-14 18:11:47.393,None,-0.462402,0.816846,-0.322119,-3.664634,1.213415,3.969512,None
2021-04-14 18:11:47.403,None,-0.463013,0.817554,-0.321558,-3.530488,0.951220,3.728659,None
2021-04-14 18:11:47.413,None,-0.463623,0.818262,-0.320996,-3.396341,0.689024,3.487805,None
...,...,...,...,...,...,...,...,...
2021-04-14 18:49:10.753,None,-0.382965,-0.145905,0.936707,-1.379573,1.124238,0.038110,None
2021-04-14 18:49:10.763,eSense-0012,-0.383057,-0.145996,0.936279,-1.371951,1.067073,0.030488,running
2021-04-14 18:49:10.773,None,-0.383545,-0.145264,0.936157,-1.204268,1.128049,0.015244,None
2021-04-14 18:49:10.783,eSense-0012,-0.384033,-0.144531,0.936035,-1.036585,1.189024,0.000000,running
2021-04-14 18:49:10.793,eSense-0012,-0.383545,-0.141602,0.938721,-0.884146,1.432927,-0.060976,running

In [35]:
df_sub1_ankle_dribbling = pd.read_csv('..\sensor_data\dribbling_sbj1_ankle.csv', index_col=0)
df_sub1_ankle_dribbling.index = pd.date_range(start=df_sub1_ankle_dribbling.index[0], periods = df_sub1_ankle_dribbling.shape[0], freq="10L")

df_sub1_ankle_layup = pd.read_csv('..\sensor_data\layup_sbj1_ankle.csv', index_col=0)
df_sub1_ankle_layup.index = pd.date_range(start=df_sub1_ankle_layup.index[0], periods = df_sub1_ankle_layup.shape[0], freq="10L")

df_sub1_ankle_shooting = pd.read_csv('..\sensor_data\shooting_sbj1_ankle.csv', index_col=0)
df_sub1_ankle_shooting.index = pd.date_range(start=df_sub1_ankle_shooting.index[0], periods = df_sub1_ankle_shooting.shape[0], freq="10L")

df_sub1_ankle_movements = pd.read_csv('..\sensor_data\movements_sbj1_ankle_1.csv', index_col=0)
df_sub1_ankle_movements.index = pd.date_range(start=df_sub1_ankle_movements.index[0], periods = df_sub1_ankle_movements.shape[0], freq="10L")

df_sub1_ankle = pd.concat([df_sub1_ankle_dribbling, df_sub1_ankle_layup, df_sub1_ankle_shooting, df_sub1_ankle_movements])
#df_sub1_ankle.index = pd.date_range(start='2021-04-14 18:22:13.553000', periods = df_sub1_ankle.shape[0], freq="10L")
df_sub1_ankle.sort_index()

                           acc_x    acc_y      acc_z
2021-05-25 18:12:54.027  0.23218 -0.95972  -0.08081;
2021-05-25 18:12:54.037  0.23120 -0.96045  -0.08350;
2021-05-25 18:12:54.047  0.23340 -0.96167  -0.08325;
2021-05-25 18:12:54.057  0.23242 -0.96484  -0.08496;
2021-05-25 18:12:54.067  0.23462 -0.96094  -0.08643;
...                          ...      ...        ...
2021-05-25 18:49:25.394 -0.02148 -0.69849  -0.70557;
2021-05-25 18:49:25.404 -0.02197 -0.70142  -0.70557;
2021-05-25 18:49:25.414 -0.02075 -0.69678  -0.70532;
2021-05-25 18:49:25.424 -0.02173 -0.69702  -0.70679;
2021-05-25 18:49:25.434 -0.02197 -0.70117  -0.70654;

[137645 rows x 3 columns]

In [36]:
df_sub1_wrist_dribbling = pd.read_csv('..\sensor_data\dribbling_sbj1_wrist.csv', index_col=0)
df_sub1_wrist_dribbling.index = pd.date_range(start=df_sub1_wrist_dribbling.index[0], periods = df_sub1_wrist_dribbling.shape[0], freq="10L")

df_sub1_wrist_layup = pd.read_csv('..\sensor_data\layup_sbj1_wrist.csv', index_col=0)
df_sub1_wrist_layup.index = pd.date_range(start=df_sub1_wrist_layup.index[0], periods = df_sub1_wrist_layup.shape[0], freq="10L")

df_sub1_wrist_shooting = pd.read_csv('..\sensor_data\shooting_sbj1_wrist.csv', index_col=0)
df_sub1_wrist_shooting.index = pd.date_range(start=df_sub1_wrist_shooting.index[0], periods = df_sub1_wrist_shooting.shape[0], freq="10L")

df_sub1_wrist_movements = pd.read_csv('..\sensor_data\movements_sbj1_wrist.csv', index_col=0)
df_sub1_wrist_movements.index = pd.date_range(start=df_sub1_wrist_movements.index[0], periods = df_sub1_wrist_movements.shape[0], freq="10L")

df_sub1_wrist = pd.concat([df_sub1_wrist_dribbling, df_sub1_wrist_layup, df_sub1_wrist_shooting, df_sub1_wrist_movements])
#df_sub1_wrist.index = pd.date_range(start='2021-04-14 18:32:17.683000', periods = df_sub1_wrist.shape[0], freq="10L")
df_sub1_wrist.sort_index()

                           acc_x    acc_y      acc_z
2021-05-25 18:13:12.833  0.93042  0.47583   0.10889;
2021-05-25 18:13:12.843  0.94653  0.36230   0.05713;
2021-05-25 18:13:12.853  1.02271  0.16553   0.00415;
2021-05-25 18:13:12.863  1.01880  0.08423  -0.06494;
2021-05-25 18:13:12.873  0.97705  0.17603  -0.10010;
...                          ...      ...        ...
2021-05-25 18:47:14.993  0.32861  0.79370  -0.43042;
2021-05-25 18:47:15.003  0.32983  0.77344  -0.41528;
2021-05-25 18:47:15.013  0.33105  0.77051  -0.39087;
2021-05-25 18:47:15.023  0.34131  0.78394  -0.37280;
2021-05-25 18:47:15.033  0.34668  0.80469  -0.36401;

[105584 rows x 3 columns]

In [37]:
df_sub1 = pd.concat([df_sub1_esense, df_sub1_ankle, df_sub1_wrist], axis=1, join="inner")
df_sub1

InvalidIndexError: Reindexing only valid with uniquely valued Index objects

In [ ]:
df_sub1.loc[df_sub1['Device'] == 'eSense-0012']

In [ ]:
df26 = (df_sub1.loc[pd.to_datetime('2021-04-14 18:45:18.000'):pd.to_datetime('2021-04-14 18:47:11.000')])

In [ ]:
df26.loc[df26['Label'] == 'layup']

In [ ]:
df26

In [22]:
import pandas as pd
df_sub1_ankle_dribbling = pd.read_csv('..\sensor_data\dribbling_sbj1_ankle.csv', index_col=0)
df_sub1_ankle_dribbling

                acc_x    acc_y      acc_z
time
18:22:13.552 -1.00122  0.08887  -0.01099;
18:22:13.562 -1.00220  0.09106  -0.01392;
18:22:13.572 -1.00342  0.09204  -0.01514;
18:22:13.582 -1.00464  0.09326  -0.01440;
18:22:13.592 -1.00513  0.09668  -0.01416;
...               ...      ...        ...
18:28:30.892 -0.24341  0.26685  -0.93652;
18:28:30.902 -0.24951  0.26733  -0.93237;
18:28:30.912 -0.25220  0.26880  -0.93311;
18:28:30.922 -0.25000  0.26855  -0.93384;
18:28:30.932 -0.25269  0.26416  -0.92969;

[37739 rows x 3 columns]

In [29]:
df_sub1_ankle_dribbling.index = pd.date_range(start=df_sub1_ankle_dribbling.index[0], periods = df_sub1_ankle_dribbling.shape[0], freq="10L")
df_sub1_ankle_dribbling

                           acc_x    acc_y      acc_z
2021-05-25 18:22:13.552 -1.00122  0.08887  -0.01099;
2021-05-25 18:22:13.562 -1.00220  0.09106  -0.01392;
2021-05-25 18:22:13.572 -1.00342  0.09204  -0.01514;
2021-05-25 18:22:13.582 -1.00464  0.09326  -0.01440;
2021-05-25 18:22:13.592 -1.00513  0.09668  -0.01416;
...                          ...      ...        ...
2021-05-25 18:28:30.892 -0.24341  0.26685  -0.93652;
2021-05-25 18:28:30.902 -0.24951  0.26733  -0.93237;
2021-05-25 18:28:30.912 -0.25220  0.26880  -0.93311;
2021-05-25 18:28:30.922 -0.25000  0.26855  -0.93384;
2021-05-25 18:28:30.932 -0.25269  0.26416  -0.92969;

[37739 rows x 3 columns]

In [30]:
df_sub1_ankle_shooting.index = pd.date_range(start=df_sub1_ankle_shooting.index[0], periods = df_sub1_ankle_shooting.shape[0], freq="10L")
df_sub1_ankle_shooting

                           acc_x    acc_y      acc_z
2021-05-25 18:12:54.027  0.23218 -0.95972  -0.08081;
2021-05-25 18:12:54.037  0.23120 -0.96045  -0.08350;
2021-05-25 18:12:54.047  0.23340 -0.96167  -0.08325;
2021-05-25 18:12:54.057  0.23242 -0.96484  -0.08496;
2021-05-25 18:12:54.067  0.23462 -0.96094  -0.08643;
...                          ...      ...        ...
2021-05-25 18:16:22.227 -0.96851  0.27148  -0.06982;
2021-05-25 18:16:22.237 -0.96704  0.27246  -0.06641;
2021-05-25 18:16:22.247 -0.96704  0.27515  -0.06323;
2021-05-25 18:16:22.257 -0.96606  0.27563  -0.06372;
2021-05-25 18:16:22.267 -0.96777  0.27515  -0.06299;

[20825 rows x 3 columns]

In [ ]:
df_sub1_ankle.index = pd.date_range(start='2021-04-14 18:22:13.553000', periods = df_sub1_ankle.shape[0], freq="10L")